* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 120px;
}

header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background-color: rgb(55, 6, 23);
}

.navbar .nav-logo .nav-text {
  color: white;
  font-size: 35px;
  font-weight: bolder;
  font-style: italic;
}

.navbar .nav-Menu .nav-link {
  color: white;
}

header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

.navbar .nav-Menu {
  display: flex;
  gap: 10px;
  transition: left 0.3s ease;
}

.section-content {
  margin: 0 auto;
  margin: 0 20px;
  max-width: var(--site-max-width);
}

.navbar .nav-Menu .nav-link {
  padding: 10px 18px;
  color: white;
  font-size: 18px;

  border-radius: 20px;
  margin: 15px;
  transition: 0.3s ease;
}

.navbar .nav-Menu .nav-link:hover {
  color: black;
  background-color: rgb(255, 186, 8);
}

#Menu-open-button,
#Menu-close-button {
  display: none;
}

/* Main section design start from here */

.hero-section {
  min-height: 100vh;
  /* background-color: rgb(55, 6, 23); */
  background-color:rgb(191, 168, 126) ;
  padding: 30px;
  padding-top: 120px;
}

.hero-section .section-content {
  display: flex;
  align-items: center;
  min-height: 100vh;
  color: white;
  justify-content: space-between;
}
.hero-section .hero-detail .title {
  color: rgb(232, 93, 4);
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
}
.hero-section .hero-detail .subtitle {
  margin-top: 8px;
  max-width: 70%;
  font-size: 20px;
  font-weight: bold;
}
.hero-section .hero-detail .description {
  max-width: 70%;
  margin: 24px 0 40px;
  font-size: 15px;
}
.hero-section .hero-detail .button {
  padding: 10px 26px;
  color: black;
  background-color: rgb(255, 186, 8);
  border-radius: 20px;
  border: 2px solid transparent;
  transition: 0.2s ease;
}
.hero-section .hero-detail .buttons {
  display: flex;
  gap: 23px;
}
.hero-section .hero-detail .button:hover,
.hero-section .hero-detail .Contact-us {
  color: white;
  border-color: white;
  background-color: transparent;
}
.hero-section .hero-detail .Contact-us:hover {
  color: white;
  border-color: black;
  background-color: rgb(255, 186, 8);
}

.hero-section .hero-image-wrape {
  max-width: 500px;
  margin-right: 60px;
}
.hero-section .hero-image {
  max-width: 100%;
  height: auto;
}
/* About Us section styling */
.About-section{
     padding: 120px 0;
     background-color: white;
}
.About-section .section-content{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.About-section .About-image-wrapper .About-image{
         height: 400px;
         width: 400px;
         object-fit: cover;
         border-radius: 50%;
}
.section-title{
       text-align: center;
       padding: 60px 0 30px;
       text-transform: uppercase;
       font-size: var(--font-size-xl);
}
.section-title::after{
  content: "";
  width: 80px;
  height: 5px;
  display: block;
  margin: 10px auto 0;
  border-radius: var(--border-radius-s);
  background-color: rgb(255, 186, 8);
}
.About-section .About-details.section-title{
  padding: 0;
}

.About-section .About-details{
   max-width: 90%;
}

.About-section .About-details .text{
  line-height: 30px;
  margin: 0 30px;
  text-align: center;
  font-size: var(--font-size-m);
}

.About-section .social-link-list{
  display: flex;
  gap: 25px;
  justify-content: center;
}
.About-section .social-link-list .social-link{
  color: rgb(60, 238, 11);
  font-size: 18px;
  transition: 0.2s ease;
}
.About-section .social-link-list .social-link:hover{
  color: rgb(233, 5, 5);
}

/* menu bar styleing */
/* menu bar styleing */
/* menu bar styleing */
.Menu-section {
  color: white;
  background-color: rgb(41, 41, 41);
  padding: 50px 0 100px;
}



.Menu-section .Menu-list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 110px;
  justify-content: space-between;
}

.Menu-section .Menu-list .Menu-item{
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  width: calc(100%/3 -110px);
}

.Menu-image{
   height: 300px; 
  width: 300px;
}


.Menu-section .Menu-list .Menu-item .Menu-image{
  max-width: 83%;
  aspect-ratio: 1;
  margin-bottom: 15px;
  
  object-fit: contain;
   
}



.Menu-section .Menu-list .Menu-item .name{
  margin: 12px 0;
  font-size: var(--font-size-l);
  font-weight: bold;
}

.Menu-section .Menu-list .Menu-item .text{
  /* font-size: var(--font-size-m); */
   text-align: center;
  max-width: 260px;
  line-height: 1.6;
  opacity: 0.85;
}
/* Testimonial-section */
/* Testimonial-section */
/* Testimonial-section */
.Testimonial-section{
  padding: 50px 0 100px;
  background-color: wheat;
  
}

.Testimonial-section .Testimonial{
  display: flex;
  padding: 35px;
  text-align: center;
  flex-direction: column; 
  align-items: center;
}

.Testimonial-section .Testimonial .user-image{
  width: 180px;
  height: 180px;
  object-fit: cover;
  margin-bottom: 50px;
  border-radius: 50%;
}

.Testimonial-section .Testimonial .name{
  margin-bottom: 16px;
  font-size: var(--font-size-m);
  font-weight: bold;
}
.Testimonial-section .Testimonial .feedback{
  line-height: 25px;
}
.Testimonial-section .swiper-pagination-bullet{
  width: 15px;
  height: 15px;
  opacity: 1;
   background-color: rgb(255, 186, 8);
 
}

.Testimonial-section .swiper-slide-button{
    margin-top: -50px;
    color: rgb(255, 186, 8);
     transition: 0.3s ease;
}

/* .Testimonial-section .swiper-slide-button:hover{
background-color:rgb(255, 186, 8) ;
} */


  /* Gallery for the page
      Gallery for the page
        Gallery for the page  */

        .Gallery-section{
          padding: 50px 0 100px;
          background: rgb(41, 41, 41);
        }
        #white{
          color: white;
        }
       .Gallery-section .Gallery-list{
        display: flex;
        flex-wrap: wrap;
        /* flex-direction: column; */
        gap: 20px;
         /* align-items: center;  */
         /* justify-content: space-between;  */
       }
       .Gallery-section .Gallery-list .Gallery-item{
        overflow: hidden;
        /* text-align: center;
        justify-content: space-between; */
        border-radius: var(--border-radius-s);
        width: calc(33.33% - 40px);
       }
        

        .Gallery-section .Gallery-list .Gallery-image{
          width: 100%;
          height: 300px;
          cursor: zoom-in;
         object-fit: cover;
          transition: 0.3s ease;
        }
       

        .Gallery-section .Gallery-item:hover .Gallery-image{
           transform: scale(1.3);
        }

/*Contact and servicess  */
/*Contact and servicess  */
/*Contact and servicess  */
/*Contact and servicess  */
.Contact-section{
  padding: 50px 0 100px;
  background-color:  rgb(211, 237, 228);
}

.Contact-section .section-content{
  display: flex;
  gap: 48px;
  align-items: flex-start;
  justify-content: space-between;
}

.Contact-section  .Contact-info-list .Contact-info{
  display: flex;
  gap: 20px;
  margin: 20px 0;
  align-items: center;

}

.Contact-section  .Contact-info-list .Contact-info i{
    font-size: var(--font-size-m);
}

.Contact-section .Contact-form  .form-input{
  width: 100%;
  height: 50px;
  padding: 0 12px;
  outline: none;
  margin-bottom: 16px;
  background: white;
 
  border-radius: 5px;
  border: 1px solid rgb(45, 78, 90);
}

.Contact-section .Contact-form  .form-input:focus{
   border-color: var(--secondary-color);
}

.Contact-section .Contact-form .submit-button{
  padding: 10px 26px;
  color: white;
  margin-top: 10px;
  background-color: rgb(62, 23, 23);
  border-radius: 12px;
}
.Contact-section .Contact-form .submit-button:hover{
  background-color:rgb(255, 186, 8) ;
}


.Contact-section .Contact-form textarea{
  height: 100px;
  padding: 12px;
  resize: vertical;
}

/* Footer section */
/* Footer section */
/* Footer section */
/* Footer section */
  .footer-section{
     background-color:rgb(191, 168, 126) ;
     padding: 15px 0;  
     
    
  }

  .footer-section .section-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer-section :where(.copywrite-text, .social-link, .plicy-link){
    color: white;
  }

   .footer-section .social-link-list{
    display: flex;
    gap: 25px;
   }

    .footer-section .social-link-list .social-link{
      font-size: var(--font-size-l);
    }
     .footer-section .social-link-list .social-link:hover,
     .footer-section .policy-text .plicy-link:hover{
      color:rgb(255, 186, 8) ;
     }

    .footer-section .policy-text .separator{
      margin: 0 5px;
      color: rgb(175, 108, 49);
    }

/* making it responsive from here 1024 */
/* making it responsive from here 1024 */
/* making it responsive from here 1024 */
@media screen and (max-width: 1024px){
  .Menu-section .Menu-list{
    gap: 60px;
  }
  .Menu-section .Menu-list .Menu-item{
    width: calc(100%/3 -60px);
  }
}
/* making it responsive from here */
/* making it responsive from here */
/* making it responsive from here */
@media screen and (max-width: 900px) {
  .hero-section .section-content {
    flex-direction: column;
    text-align: center;
  }
  .hero-section .hero-detail .subtitle,
  .hero-section .hero-detail .description {
    max-width: 100%;
  }
  .hero-section .hero-image-wrape {
    margin: 30px 0 0;
  }
  :root {
    --site-max-width: 1200px;
    --font-size-s: 1rem;
    --font-size-l: 1.2rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 1.8rem;
  }
  body.show-mobile-Menu header::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(5px);
    background: rgb(0, 0, 0, 0.2);
  }

  .navbar :where(#Menu-close-button, #Menu-open-button) {
    display: block;
    font-size: var(--font-size-l);
  }
  #Menu-close-button {
    position: absolute;
    right: 30px;
    top: 30px;

    display: block;
    background: none;      /* remove background */
    border: none;          /* remove border */
    outline: none;         /* remove focus outline */
    cursor: pointer;
  }
  #Menu-open-button {
    display: block;
    font-size: 24px;
     color: white; 
    cursor: pointer;
    background: none;      /* remove background */
    border: none;          /* remove border */
    outline: none;         /* remove focus outline */
    cursor: pointer;
  }
  .navbar .nav-Menu {
    position: fixed;
    left: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;

    background-color: white;
    transition: left 0.3s ease;
  }

  body.show-mobile-Menu .navbar .nav-Menu {
    left: 0;
  }

  .navbar .nav-Menu .nav-link {
    color: black;
    display: block;
    margin-top: 17px;
    font-size: 18px;
  }

  .hero-section .section-content{
    gap: 50px;
    text-align: center;
    padding: 30px 20px 20px;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .hero-section .hero-detail :is(.subtitle, .description ),.About-section .About-details, .Contact-section .Contact-form{
       
    max-width: 100%;
  }
  .hero-section .hero-detail .buttons{
       
    justify-content: center;
  }

  .hero-section .hero-image-wrape{
    max-width: 270px;
    margin-right: 0;
  }
  .About-section .section-content{
     gap: 70px; 
    /* align-items: center; */
    flex-direction: column;
  }
  .About-section .About-image-wrapper .About-image{
    width: 100%;
    height: 100%;
    max-width:250px;
    aspect-ratio: 1;
  }
  .Menu-section .Menu-list{
    gap: 30px;
  }
  .Menu-section .Menu-list .Menu-item{
    width: calc(100%/2 -30px);
  }
  .Menu-section .Menu-list .Menu-item .Menu-image{
    max-width: 200px;
  }
  .Gallery-section .Gallery-list{
    gap: 30px;
  }
  .Gallery-section .Gallery-list .Gallery-item{
     width: calc(50% - 30px);
  }
   .Contact-section .section-content {
    align-items: center;
    flex-direction: column-reverse;
   }
}

@media screen  and (max-width: 640px){


  .Menu-section .Menu-list{
    gap: 60px;
  }
  .Menu-section .Menu-list .Menu-item{
    width: 100%;
  }
.Testimonial-section .swiper-slide-button{
  display: none;
}
 .Gallery-section .Gallery-list .Gallery-item{
    width: 100%;
  }

}
